.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(139, 72, 72);
  padding: 10px 20px;
}

.navbar-logo img {
  height: 100px;
  width: auto;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-nav li {
  margin-left: 100px; /*spacing between links */
}

.navbar-nav li:first-child {
  margin-left: 0; /* Remove margin from first link */
}

.navbar-nav a {
  color: white; /* Change link color */
  text-decoration: none; /* Remove underline */
  font-family: 'Arial', sans-serif; /* Use a professional font */
  font-size: 16px; /* Adjust font size as needed */
}

/* CAROUSEL CSS */

.carousel-container {
  width: 100%; /* Set the width of the carousel container */
  max-width: 800px; /* Set a maximum width to limit the size of the carousel */
  margin: 0 auto; /* Center the carousel horizontally */
  padding: 20px; /* Add some padding around the carousel */
  display: flex;
}

.carousel-container .carousel .slide img {
  height: 300px; /* Set the desired height for all images */
  object-fit: cover; /* Ensure images cover the slide area */
}

.carousel-container .carousel .control-prev, 
.carousel-container .carousel .control-next {
  font-size: 10px; /* Make the arrow buttons 10 times smaller */
  width: 20px; /* Set the width of the arrow buttons */
}
